# --- thmoas ---
API_KEY_THMOAS=your-thmoas-api-key
RESEND_API_KEY_THMOAS=re_xxxxxxxx
FROM_THMOAS=Thmoas <noreply@yourdomain.com>

# --- moonsofts test ---
API_KEY_MOONSOFTS_TEST=your-moonsofts-test-api-key
RESEND_API_KEY_MOONSOFTS_TEST=re_xxxxxxxx
FROM_MOONSOFTS_TEST=Moonsofts Test <noreply-test@yourdomain.com>

# --- moonsofts prod ---
API_KEY_MOONSOFTS_PROD=your-moonsofts-prod-api-key
RESEND_API_KEY_MOONSOFTS_PROD=re_xxxxxxxx
FROM_MOONSOFTS_PROD=Moonsofts <noreply@yourdomain.com>
